@use "@angular/material" as mat;
/* Core Data Grid CSS */
@import "ag-grid-community/styles/ag-grid.css";
/* Quartz Theme Specific CSS */
@import "ag-grid-community/styles/ag-theme-material.css";

@include mat.core();

@import "@angular/material/prebuilt-themes/azure-blue.css";
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
